*{
	 padding: 0;
    margin: 0;
    
}
.header{
	min-height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(21, 21, 22, 0.7),rgba(69, 78, 112, 0.7)),url(school2.jpg);
    background-position: center;
    background-size: cover;
}

h1{
	color: black;
	font-size: 40px;
}
nav{
	 display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
.ulbutton{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size:medium;
	text-transform: uppercase;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
	 list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
}
.nav-link ul li a{
	
	color: #fff;
	text-decoration: none;
	font-size: 30px;
}
.nav-link ul li::after{
	content: '';
	width: 0vh;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;

}
.nav-link ul li:hover::after{
	width: 100%;

}
.text-box{
	width: 90%;
	color: #ffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 29px;

}
.text-box h1{
	font-size: 62px;
}
.text-box p{
	margin: 10px 0 40px;
	color: #fff;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}
.Course{
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px;

}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.course-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.course-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.Campus{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;

}

.Campus-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.Campus-col img{
	width: 150%;

}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: 
}

.layer h3{
	width: 100%;
	font-weight: 500;
	font-size: 40px;
	color: #fff;
	bottom: 0;
	margin-left: 50%;
	transform: translate(-50%);
	position: absolute;
	opacity: 1;

}


.faccilites h1{
	margin-top: 10%;
}

.Facilites{
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 100px;

}
.Facilites-col{
	flex-basis: 31%;
	border-radius:10px;
	margin-bottom: 5%;
	text-align: left;
}

.Facilites-col img{
	width: 100%;
	height: 80%;
	border-radius: 10px;

}

.Facilites-col p{
	padding: 0;
}

.Facilites-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}

.course{
	margin-top: 100px ;
	width:100%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(enroll.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
	margin-top: 10%;
}


.course h1{
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}

.about h1{
     margin-top: 6%;


}


.icon{
	margin-top: 7%;
}

.icon h1{
	display: inline;
	padding: 10px;

}

.icon p{
	padding: 12px 12px;
	background-color: black;
	color: white;
}

.reg{
	margin-top: 6%;
	margin-left: -1120px;
	
}


.hero-btn2{
     padding: 12px 34px;
     color: black;
     border: 1px solid #fff;
     display: inline-block;
     text-decoration: none;
     background: transparent;
     position: relative;
     cursor: pointer;
}

.hero-btn2:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

